{% extends "site_base.html" %}

{% block title %}Patent #{{ patent.australian_appl_no }} - {{ patent.description }}{% endblock %}

{% block content %}
    {% autoescape on %}
    <h1>Patent #{{ patent.australian_appl_no }} - {{ patent.description }}</h1>

    {% if Summary %}
        <h2>Summary - {{ Summary.title }}</h2>
        <p>{{ Summary.body }}</p>
    {% endif %}

    <ul class="timeline">
    <li class="timeline-add"><div class="timeline-badge-mini success"><a href="annotate"><i class="glyphicon glyphicon-plus"></i></a></div></li>
    {% for event in timeline %}
        <li{% cycle '' ' class="timeline-inverted"' %}>
            <div class="timeline-badge {{ event.catagory }}"><i class="glyphicon {{ event.glyph }}"></i></div>
            <div class="timeline-panel">
                <h4 class="timeline-title">
                    {% if event.link %}<a href="{{ event.link }}">{% endif %}
                    {% if event.event %}{{ event.event }}{% else %}{{ event.annotation_type }}{% endif %}{% if event.title %} - {{ event.title }}{% endif %}
                    {% if event.link %}</a>{% endif %}
                </h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ event.date }}{% if event.link %} - <a href="{{ event.link }}">{{ event.link }}</a>{% endif %}</small></p>
                <div class="timeline-body">
                    {% if event.information %}
                        <ul>
                            {% for item in event.information %}
                                {% if item %}<li>{{ item }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if event.image %}
                        <p><img src="{{ event.image.url }}" alt="{{ event.image_alt }}"></p>
                    {% endif %}
                    <p>{{ event.body }}</p>
                </div>
            </div>
        </li>

        <li class="timeline-add"><div class="timeline-badge-mini success"><a href="annotate"><i class="glyphicon glyphicon-plus"></i></a></div></li>
    {% endfor %}
    </ul>
    {% endautoescape %}
{% endblock %}
