psycopg2==2.6.1
Django==1.8.2
-e git+https://github.com/jezdez/django-configurations@5ece1070448d3e026b81422691c60207f5699c0c#egg=django-configurations
gunicorn==19.3.0
pathlib==1.0.1
pymongo==3.0.3
wheel==0.24.0
raven>=5.3.1
django-bootstrap3>=6.1.0
django-enumfield>=1.2.1
